/* #region common */
:root {
    --bs-success-light: #1abc9c;
    --bs-primary-dark: #2c3e50;
    --bs-primary-light: #3a546d;
}

body {
    font-family: Helvetica, sans-serif;
}

header, .footer_bottom {
    background-color: var(--bs-primary-dark);
}

footer {
    background-color: var(--bs-primary-light);
}

.star_white::before, .star_white::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: white;
    vertical-align: middle;
}

.star_black::before, .star_black::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: black;
    vertical-align: middle;
}

.container_sm_tight {
    width: 75%;
}



.form-control::placeholder {
    color: black;
}

/* #endregion common */


/* #region jumbotron */
#jumbotron, #about{
    background-color: var(--bs-success-light);
}

.avatar img {
    width: 200px;
}
/* #endregion jumbotron */


/* #region contact */

#contact form textarea {
    height: 150px;
}

#contact form button {
    background-color: var(--bs-success-light);
}
/* #endregion contact */



/* #region footer */
.footer_top .marked {
    color: var(--bs-success-light);
}

.circle {
    width: 30px;
    aspect-ratio: 1 / 1;
}
/* #endregion footer */



@media screen and (min-width:1200px) {
    .container_xl {
        width: 60%;
        max-width: 1152px;
    }

    .container_xl_tight {
        width: 50%;
        max-width: 1080px;
    }
}