/* #region common */
:root {
    --bs-success-light: #1abc9c;
    --bs-primary-dark: #2c3e50;
}

body {
    font-family: Helvetica, sans-serif;
}

header {
    background-color: var(--bs-primary-dark);
}

.star_white::before, .star_white::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: white;
    vertical-align: middle;
}

.star_black::before, .star_black::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: black;
    vertical-align: middle;
}
/* #endregion common */


/* #region jumbotron */
#jumbotron {
    background-color: var(--bs-success-light);
}

.avatar img {
    width: 200px;
}


/* #endregion jumbotron */



/* #region debug */
.debug header {
    height: 90px;
}

/* #endregion debug */


@media screen and (min-width:1200px) {
    .container_xl {
        width: 60%;
        max-width: 1152px;
    }
}